body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: black;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images img#bulb {
    height: 500px;
    margin: 10px;
}
.switch {
    cursor: pointer;
}