body{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: small;
}
#cabecera{
    background: linear-gradient(to top, #ebebeb, #ffffff);
    width: 100%;
    height: 130px;
}
header{
    display: flex;
    justify-content: left;
    width: 100%;
    height: 30px;
}
#buscar{
    display: flex;
    justify-content: center;  
}
#buscar input{
    height: 30px;
    width: 800px;
    margin-top: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-color: #ffffff;
}
#buscar button{
    height: 30px;
    color: white;
    background-color: rgb(33, 33, 33);
    margin-top: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#buscar p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
#buscar a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
main nav ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex;
}

main nav li {
    margin-right: 15px;

}
#phil li::marker {
    color: rgb(188, 188, 188);
    
}

main nav a {
    text-decoration: none; 
    color: black; 
}

main nav a:hover {
    background-color: rgb(241, 241, 241); 
}
#phil{
    display: flex;
    justify-content:flex-start;
    align-items:start;
}
#phil div{
    margin-left: 30px;
    justify-content: center;
}
#carrusel img{
    display: flex;
    height: 70px;
    align-items: center;
    margin-bottom: 5px;
    margin-right: 15px;
}
#orange{
    color: orange;
    
}
#amarillo{
    background-color: rgba(255, 230, 0, 0.207);
    margin: 0;
    display: flex;
    justify-content: center;
    height: 50px;
    margin-bottom: 20px;
}
aside{
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
}
aside img{
    width: auto;
    height: 100px;
}
.parte{
    justify-content: center;
    border-top: 1px solid gainsboro;
    margin-top: 10px;
}
.mierdon{
    height: 90px;
}
#mierdonn{
    display: flex;
    align-items: center;
}

#mierdonn img, h1{
    margin-right: 10px; 
    color: #a5a5a5;
}
.boton{
    color: rgb(0, 0, 116);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background: linear-gradient(to top, #bdbd3678, #ffffff);
}
#foto{
    margin-top: 10px;
}