body{
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-image: url(fondo.webp);
    height: 300px;
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#empirico{
    width: 140px;
    height: 200px;
    background-color: rgba(240, 248, 255, 0);
    
}
#tartaria{
    width: 150px;
    height: 240px;
    background-color: rgba(240, 248, 255, 0);
    
}
button{
    margin-left: 150px;
    margin-right: 50px;
}
