main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
img{
    height: 300px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
}
