main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
img{
    height: 300px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(129, 129, 129);
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
body{
    margin: 0;
}
